/* add home page styles here */
.ingredients {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.item-list {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}